services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
    container_name: frontend_service
    restart: always
    env_file:
      - .env
    ports:
      - 12346:3000
    environment:
      - NODE_ENV=production
